$primary-color: #3f51b5;
$primary-color2: #1976d2;
$primary-hover-color: #303f9f;
$border-color: #194dd2;
$color-black: #212529;
$color-white: #fff;
$color-gray: #f1f1f1;
$color-dark-gray: #a9a9a9;
$error-color: #e45252;
$todo-color: #e73e3ebd;
$in-done: #42a56a;
$in-progress: #df60df;
$secondary-color: #f50057;
